/* general styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}
.wrapper{
    display:flex;
    justify-content:center;
}
.container {
    max-width:1000px;
    display: flex;
    flex:1;
}

/* set up basic grid */

.column{
flex:1;
}
.column-2-3{
flex:2;
}
.column-1-3{
flex:1;
}
.column-1-4{
flex:1;
}
.column-3-4{
flex:3;
}
.header,.hero,.footer,button,.call-to-action,li a{
  color:#fff
}
.hero,.footer,.header{
  background-color:#1F2937;
}
.action,.cards{
  background-color:#fff;
}
.quote,.author{
  background-color:#E5E7EB;
  font: 36px light-italic #1F2937;
}
button,.call-to-action .container{
  background-color: #3882F6;
  color: inherit;
  border: none;
  padding: 8px 35px;
  font-weight: 600;
  cursor: pointer;
  outline: inherit;
  border-radius: 8px;
  margin: 0px;
  font-size: 17px;
}

/* Header Styles */

.header{
  height:60px;
}
.header .container{
  display:flex;
  align-items:center;
}
ul{
  list-style-type:none;
  display:flex;
  padding:0;margin:0;
  gap: 20px;
  justify-content:flex-end;
}
li a{
  text-decoration:none;
  font-size:18px;
  font-weight:400;
}
.logo{
  font-size:24px;
  color: #F9FAF8;
  font-weight:bold;
}

/* Hero Styles */

.hero{
  height:500px;
  align-items:center;
}
.hero .container{
  gap:60px;
}
.hero .column{
  display:flex;
  justify-content:space-between;
  align-items:space-between;
  flex-direction:column;
  height:240px;
}
h1{
  font-size:48px;
  font-weight:bolder;
  color:#F9FAF8;
  margin:0;
}
.hero p{
  font-size:18px;
  color:#E5E7EB;
  margin:0;
}
.hero button{
  width: 150px;
}

/* random information */

.random-info h2{
  font-size:36px;
  font-weight:bolder;
  color:#1F2937;
}
.random-info .container{
  justify-content:center;
  align-items:center;
  display:flex;
  height:150px;
}

/* cards */

.cards{
  height:350px;
  align-items:flex-start;
}
.cards .column{
  justify-content:space-between;
  flex-direction:column;
  align-items:center;
  height:250px;
}
.cards{
  text-align:center;
}

/* quote and author */

.quote .container{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  justify-content: center;
  height: 400px;
  align-items: center;
}
.quote .column{
  max-width:780px;
}
.author{
  text-align:right;
  font-style:normal;
  font-size:24px;
  font-weight:600;
}

/* call to action */

.call-to-action{
  height:350px;
  align-items:center;
}
.call-to-action .container{
  border-radius:8px;
  height:130px;
  align-items:center;
}
.call-to-action h4{
  font-size:24px;
  margin:0;
}
.call-to-action p{
  margin:0;
  font-size:17px;
  font-weight:lighter;
}
.call-to-action .button{
  display:flex;
}
.call-to-action .wrap{
  align-items:center;
  justify-content:center;
  display:flex;
  flex:1;
}
.call-to-action button{
  border:2px solid;
}

/* footer */

.footer{
  height:100px;
}
.footer .container{
  align-items:center;
  justify-content:center;
}
.footer .column{
  font-size:18px;
}